* {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

.container {
	background: grey;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	position: relative;
}

.article {
	position: absolute;
	top: 0px;
	background-color: aliceblue;
	width: 100%;
	height: 100%;
	padding: 50px;
	transform-origin: top left;
	transition: transform 0.4s ease;
}

.article h2,
.article p,
.article div {
	padding: 25px;
}

.article div {
	width: 90%;
	height: 20%;
	background: linear-gradient(
		to right,
		#e40e0e 0%,
		#0b73cb 50%,
		#444c75 100%
	);
}

.article.nav-on {
	transform: rotate(-20deg);
}

.nav-button {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: rgb(255, 72, 72);
	border-radius: 50%;
	top: -100px;
	left: -100px;
	z-index: 10;
	transition: transform 0.4s ease;
}

.nav-button div button {
	color: white;
	font-size: 20px;
	background: transparent;
	position: absolute;
	border: none;
	cursor: pointer;
}

#open {
	position: absolute;
	right: 20px;
	bottom: 20px;
	padding: 15px;
}
#close {
	position: absolute;
	bottom: 20px;
	right: 135px;
	padding: 15px;
	transform: rotate(90deg);
}
.nav-button.nav-on {
	transform: rotate(-90deg);
	transition: transform 0.4s ease;
}
ul {
	position: absolute;
	bottom: 100px;
	left: -200px;
	list-style: none;
	display: flex;
	flex-direction: column;
	color: white;
	transition: 0.8s ease;
}

ul li {
	padding: 10px;
	font-size: 24px;
}

ul.nav-on {
	left: 30px;
}
